@model RegisterUserViewModel

@{
    ViewData["Title"] = "Register User";
}

@section Head {
    <script>
        function onSuccess() {
            document.getElementById("submit-button").disabled = false;
        }
    </script>
}

<h1>Register User</h1>

@if (TempData["SuccessMessage"] is string successMessage)
{
    <div class="alert alert-success" role="alert">
        @successMessage
    </div>
}

<form asp-action="Index" method="post" class="mt-3">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" value="test@example.com" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Username" class="form-label"></label>
        <input asp-for="Username" class="form-control" value="test" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control" value="Password1234!" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    @await Component.InvokeAsync("Turnstile")
    
    <button type="submit" id="submit-button" class="btn btn-primary" disabled>Create user</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
